 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
 }
 
 @import'./all-blocks/mixins';
 @import './all-blocks/variables';
 .container {
     max-width: 1106px;
     width: 100%;
     margin: 0 auto;
     font-family: $font_title;
 }
 
 @import'./all-blocks/header';
 @import'./all-blocks/section1';
 @import './all-blocks/footer';