@import './fonts';
$font_title: 'Space Mono',
monospace;
$main_font:'Lexend Deca',
sans-serif;
$primary_color: #495567;
$secondary_color: #939CAA;
$button_color: #FCB72B;
$white_color: #FFF;
$footer-color:#333A44;